#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.input {
  display: flex;
  font-size: larger;
  padding: 5px;
  margin: 2px;
}

.btn {
  display: flex;
  color: azure;
  background-color: black;
  border-radius: 50px;
  font-size: 1rem;
  padding: 5px;
  margin: 10px;
}





